@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap");

body {
  margin: 0;
  background-color: #000;
  color: #eee;
  font-family: Poppins;
  font-size: 12px;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  max-width: 1140px;
  margin: auto;
  height: 50px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 100;
}

header a {
  color: #eee;
  margin-right: 5px;
  padding: 5px 10px;
  transition: 0.2s;
}

a.active {
  background: #14ff72cb;
  border-radius: 2px;
}

header a:hover {
  background: #14ff72cb;
  border-radius: 2px;
}

/* Hide audio controls */
audio::-webkit-media-controls {
  display: none;
}

/* Slider section */
.slider {
  height: 100vh;
  margin-top: -50px;
  width: 100vw;
  overflow: hidden;
  position: relative;
}

.slider .list {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider .list .item {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
}

.slider .list .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider .list .item .content {
  position: absolute;
  top: 10%;
  width: 100%;
  max-width: 1140px;
  left: 50%;
  transform: translateX(-50%);
  padding-right: 30%;
  box-sizing: border-box;
  color: #fff;
  text-shadow: 0 5px 10px #0004;
}

.slider .list .item .content .title,
.slider .list .item .content .type {
  font-size: 5em;
  font-weight: bold;
  line-height: 1.3em;
}

.slider .list .item .type {
  color: #14ff72cb;
}

.slider .list .item .button {
  display: grid;
  grid-template-columns: repeat(2, 130px);
  grid-template-rows: 40px;
  gap: 5px;
  margin-top: 20px;
}

.slider .list .item .button button {
  border: none;
  background-color: #eee;
  font-family: Poppins;
  font-weight: 500;
  cursor: pointer;
  transition: 0.4s;
  letter-spacing: 2px;
}

.slider .list .item .button button:hover {
  letter-spacing: 3px;
}

.slider .list .item .button button:nth-child(2) {
  background-color: transparent;
  border: 1px solid #fff;
  color: #eee;
}

/* Thumbnail section */
.thumbnail {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  z-index: 100;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.thumbnail .item {
  width: 150px;
  height: 220px;
  flex-shrink: 0;
  position: relative;
}

.thumbnail .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.3);
}

/* Next/Prev arrows section */
.nextPrevArrows {
  position: absolute;
  top: 80%;
  right: 50%;
  transform: translateX(50%);
  z-index: 100;
  width: 300px;
  max-width: 30%;
  display: flex;
  gap: 10px;
  align-items: center;
}

.nextPrevArrows button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #14ff72cb;
  border: none;
  color: #fff;
  font-family: monospace;
  font-weight: bold;
  transition: 0.5s;
  cursor: pointer;
}

.nextPrevArrows button:hover {
  background-color: #fff;
  color: #000;
}

/* Animation part */
.slider .list .item:nth-child(1) {
  z-index: 1;
}

/* Animation text in first item */
.slider .list .item:nth-child(1) .content .title,
.slider .list .item:nth-child(1) .content .type,
.slider .list .item:nth-child(1) .content .description,
.slider .list .item:nth-child(1) .content .buttons {
  transform: translateY(50px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent 0.5s 1s linear 1 forwards;
}

@keyframes showContent {
  to {
    transform: translateY(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.description {
  font-size: 17px;
}

.slider .list .item:nth-child(1) .content .title {
  animation-delay: 0.4s !important;
}

.slider .list .item:nth-child(1) .content .type {
  animation-delay: 0.6s !important;
}

.slider .list .item:nth-child(1) .content .description {
  animation-delay: 0.8s !important;
}

.slider .list .item:nth-child(1) .content .buttons {
  animation-delay: 1s !important;
}

/* Animation for next button click */
.slider.next .list .item:nth-child(1) img {
  width: 150px;
  height: 220px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  border-radius: 30px;
  animation: showImage 0.5s linear 1 forwards;
}

@keyframes showImage {
  to {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}

.slider.next .thumbnail .item:nth-last-child(1) {
  overflow: hidden;
  animation: showThumbnail 0.5s linear 1 forwards;
}

.slider.prev .list .item img {
  z-index: 100;
}

@keyframes showThumbnail {
  from {
    width: 0;
    opacity: 0;
  }
}

.slider.next .thumbnail {
  animation: effectNext 0.5s linear 1 forwards;
}

@keyframes effectNext {
  from {
    transform: translateX(150px);
  }
}

/* Animation for prev button click */
.slider.prev .list .item:nth-child(2) {
  z-index: 2;
}

.slider.prev .list .item:nth-child(2) img {
  animation: outFrame 0.5s linear 1 forwards;
  position: absolute;
  bottom: 0;
  left: 0;
}

@keyframes outFrame {
  to {
    width: 150px;
    height: 220px;
    bottom: 50px;
    left: 50%;
    border-radius: 20px;
  }
}

.slider.prev .thumbnail .item:nth-child(1) {
  overflow: hidden;
  opacity: 0;
  animation: showThumbnail 0.5s linear 1 forwards;
}

.slider.next .nextPrevArrows button,
.slider.prev .nextPrevArrows button {
  pointer-events: none;
}

.slider.prev .list .item:nth-child(2) .content .title,
.slider.prev .list .item:nth-child(2) .content .type,
.slider.prev .list .item:nth-child(2) .content .description,
.slider.prev .list .item:nth-child(2) .content .buttons {
  animation: contentOut 1.5s linear 1 forwards !important;
}

@keyframes contentOut {
  to {
    transform: translateY(-150px);
    filter: blur(20px);
    opacity: 0;
  }
}

/* Responsive styles */

@media screen and (max-width: 1280px) {
  .slider .list .item .content {
    padding-right: 10%;
  }

  .slider .list .item .content .title,
  .slider .list .item .content .type {
    font-size: 3em;
  }

  .slider .list .item .button {
    grid-template-columns: repeat(2, 80px);
    grid-template-rows: 30px;
  }
  .nextPrevArrows {
    width: 200px;
    top: 45%;
  }
  .nextPrevArrows button {
    height: 70px;
    width: 70px;
  }
  .description {
    font-size: 2em;
  }
}
@media screen and (max-width: 1024px) {
  .slider .list .item .content {
    padding-right: 10%;
  }

  .slider .list .item .content .title,
  .slider .list .item .content .type {
    font-size: 3em;
  }

  .slider .list .item .button {
    grid-template-columns: repeat(2, 80px);
    grid-template-rows: 30px;
  }
  .nextPrevArrows {
    width: 200px;
    top: 70%;
  }
  .nextPrevArrows button {
    height: 100px;
    width: 100px;
  }
  .description {
    font-size: 1.8em;
  }
}
@media screen and (max-width: 844px) {
  .slider .list .item .content {
    padding-right: 10%;
  }

  .slider .list .item .content .title,
  .slider .list .item .content .type {
    font-size: 3em;
  }

  .slider .list .item .button {
    grid-template-columns: repeat(2, 80px);
    grid-template-rows: 30px;
  }
  .thumbnail {
    height: 150px;
  }
  .nextPrevArrows {
    width: 150px;
    top: 2%;
    margin-left: 50px;
  }
  .nextPrevArrows button {
    height: 40px;
    width: 40px;
  }
  .description {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 820px) {
  .slider .list .item .content {
    padding-right: 10%;
  }

  .slider .list .item .content .title,
  .slider .list .item .content .type {
    font-size: 3em;
  }

  .slider .list .item .button {
    grid-template-columns: repeat(2, 80px);
    grid-template-rows: 30px;
  }
  .thumbnail {
    height: 150px;
  }
  .nextPrevArrows {
    width: 150px;
    top: 70%;
    margin-left: 50px;
  }
  .nextPrevArrows button {
    height: 80px;
    width: 80px;
  }
  .description {
    font-size: 2em;
  }
}
@media screen and (max-width: 768px) {
  .slider .list .item .content {
    padding-right: 10%;
  }

  .slider .list .item .content .title,
  .slider .list .item .content .type {
    font-size: 3em;
  }

  .slider .list .item .button {
    grid-template-columns: repeat(2, 80px);
    grid-template-rows: 30px;
  }
  .nextPrevArrows {
    width: 200px;
    top: 65%;
  }
  .nextPrevArrows button {
    height: 80px;
    width: 80px;
  }
  .description {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 678px) {
  .slider .list .item .content {
    padding-right: 0;
    text-align: center;
  }

  .slider .list .item .content .title {
    font-size: 2.5em;
  }

  .thumbnail {
    flex-wrap: wrap;
    gap: 10px;
  }

  .nextPrevArrows {
    width: 200px;
    top: 70%;
  }
}

@media screen and (max-width: 540px) {
  .slider .list .item .content .title {
    font-size: 2em;
  }

  .slider .list .item .content .type {
    font-size: 1.5em;
  }

  .thumbnail .item {
    width: 100px;
    height: 150px;
  }

  .nextPrevArrows {
    width: 150px;
    gap: 5px;
    top: 65%;
  }

  .nextPrevArrows button {
    width: 50px;
    height: 50px;
  }
  .description {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 480px) {
  .slider .list .item .content .title {
    font-size: 2em;
  }

  .slider .list .item .content .type {
    font-size: 1.5em;
  }

  .thumbnail .item {
    width: 100px;
    height: 150px;
  }

  .nextPrevArrows {
    width: 150px;
    gap: 5px;
  }

  .nextPrevArrows button {
    width: 30px;
    height: 30px;
  }
  .description {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 430px) {
  .slider .list .item .content .title {
    font-size: 2em;
  }

  .slider .list .item .content .type {
    font-size: 1.5em;
  }

  .thumbnail .item {
    width: 100px;
    height: 150px;
  }

  .nextPrevArrows {
    width: 150px;
    gap: 5px;
  }

  .nextPrevArrows button {
    width: 50px;
    height: 50px;
  }
  .description {
    font-size: 1.8em;
  }
}

@media screen and (max-width: 414px) {
  .slider .list .item .content .title {
    font-size: 2em;
  }

  .slider .list .item .content .type {
    font-size: 1.5em;
  }

  .thumbnail .item {
    width: 100px;
    height: 150px;
  }

  .nextPrevArrows {
    width: 150px;
    gap: 5px;
    top: 70%;
  }

  .nextPrevArrows button {
    width: 30px;
    height: 30px;
  }
  .description {
    font-size: 1.5em;
  }
  .nextPrevArrows button {
    height: 50px;
    width: 50px;
  }
}

@media screen and (max-width: 412px) {
  .slider .list .item .content .title {
    font-size: 2em;
  }

  .slider .list .item .content .type {
    font-size: 1.5em;
  }

  .thumbnail .item {
    width: 100px;
    height: 150px;
  }

  .nextPrevArrows {
    width: 150px;
    gap: 5px;
    top: 70%;
  }

  .nextPrevArrows button {
    width: 30px;
    height: 30px;
  }
  .description {
    font-size: 1.5em;
  }
  .nextPrevArrows button {
    height: 50px;
    width: 50px;
  }
}

@media screen and (max-width: 360px) {
  .slider .list .item .content .title {
    font-size: 2em;
  }

  .slider .list .item .content .type {
    font-size: 1.5em;
  }

  .thumbnail .item {
    width: 100px;
    height: 150px;
  }

  .nextPrevArrows {
    width: 150px;
    gap: 5px;
    top: 95%;
  }

  .nextPrevArrows button {
    width: 30px;
    height: 30px;
  }
  .description {
    font-size: 2em;
  }
}
@media screen and (max-width: 390px) {
  .slider .list .item .content .title {
    font-size: 2em;
  }

  .slider .list .item .content .type {
    font-size: 1.5em;
  }

  .thumbnail .item {
    width: 100px;
    height: 150px;
  }

  .nextPrevArrows {
    width: 150px;
    gap: 5px;
    top: 68%;
  }

  .nextPrevArrows button {
    width: 50px;
    height: 50px;
  }
  .description {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 375px) {
  .slider .list .item .content .title {
    font-size: 2em;
  }

  .slider .list .item .content .type {
    font-size: 1.5em;
  }

  .thumbnail .item {
    width: 100px;
    height: 150px;
  }

  .nextPrevArrows {
    width: 150px;
    gap: 5px;
    top: 60%;
  }

  .nextPrevArrows button {
    width: 50px;
    height: 50px;
  }
  .description {
    font-size: 1.2em;
  }
}
